In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [136]:
data = pd.read_csv('C:\\Users\\Ufuk Altan\\Downloads\\Downloads\\Data Science\\I Dati\\Prosperity.csv')
data.head()

,Country,GDP Per Capita,Technology,Human Capital,Institutional Framework,Sustainable Resources,Demand Environment,Education,Happiness,Unemployment Rate,Population,Import Degree,Import Eigenvector,Import Betweenness,Export Degree,Export Eigenvector,Export Betweenness,Location
0,Albania,5260.9,3.40,4.62,4.70,6.19,3.16,1153,4.719,0.120,2880248,0,0.000000,0.000000,0,0.000000,0.000000,Europe
1,Algeria,4449.8,2.97,3.58,3.60,5.36,5.00,1086,5.211,0.117,43216262,3,0.022113,0.000000,3,0.029143,0.000000,Africa
2,Argentina,10667.1,3.78,4.94,4.16,5.84,4.99,1187,6.086,0.101,44866075,6,0.043574,0.000000,4,0.038238,0.000000,South America
3,Armenia,4190.2,3.53,5.07,4.93,5.85,3.68,1345,4.559,0.169,2958996,0,0.000000,0.000000,0,0.000000,0.000000,Middle East
4,Australia,56698.1,6.91,7.41,8.32,6.47,5.78,1556,7.228,0.052,25265536,20,0.098483,0.003389,21,0.129649,0.003652,Oceania

In [137]:
log_GPC = np.log(data['GDP Per Capita'])
data['Log_GPC'] = log_GPC

In [138]:
data.columns

Index(['Country', 'GDP Per Capita', 'Technology', 'Human Capital',
       'Institutional Framework', 'Sustainable Resources',
       'Demand Environment', 'Education', 'Happiness', 'Unemployment Rate',
       'Population', 'Import Degree', 'Import Eigenvector',
       'Import Betweenness', 'Export Degree', 'Export Eigenvector',
       'Export Betweenness', 'Location', 'Log_GPC'],
      dtype='object')

In [139]:
cols = ['Technology', 'Human Capital',
       'Institutional Framework', 'Sustainable Resources',
       'Demand Environment', 'Education', 'Happiness', 'Unemployment Rate',
       'Population', 'Import Degree', 'Import Eigenvector',
       'Import Betweenness', 'Export Degree', 'Export Eigenvector',
       'Export Betweenness', 'Location','Log_GPC']

In [140]:
data = data[cols]

In [141]:
X = data.drop('Log_GPC', axis =1)
y = data['Log_GPC']

In [142]:
X = pd.get_dummies(X)

In [143]:
X.drop('Location_Europe', inplace = True, axis =1)

In [144]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.2 )

In [145]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [146]:
from sklearn.cross_decomposition import PLSRegression
pls = PLSRegression(n_components=1)
pls.fit(X_train, y_train)
y_pred = pls.predict(X_test)

In [147]:
def percentage_error(dataframe,pred, true_value):
    
    '''
    dataframe: Pass in pandas dataframe variable
    pred = dataframe['Predictions'] #model.predict(x_test).reshape()
    true_value = dataframe['True Values'] #y_test
    
    '''
    
    difference = true_value - pred
    
    dataframe['Error(%)']= np.absolute(difference/true_value*100)
    
    print('Average Percentage Error is: {}'.format(dataframe['Error(%)'].mean()))

In [148]:
y_test = np.array(y_test)
y_test = np.reshape(y_test, (20,))
y_pred = np.reshape(y_pred, (20,))

In [149]:
test = pd.DataFrame()
test['TrueValues'] = y_test
test['Predictions'] = y_pred

In [150]:
from sklearn.metrics import mean_absolute_error,r2_score

In [151]:
percentage_error(test, test['Predictions'],test['TrueValues'])

Average Percentage Error is: 7.147233753712195

In [152]:
test

    TrueValues  Predictions   Error(%)
0     8.748480     8.296551   5.165800
1    10.894277    10.801308   0.853372
2     9.274920     8.791428   5.212897
3     9.844634     9.319750   5.331674
4     9.408330     9.100635   3.270460
5     7.994362     8.498813   6.310076
6    10.752206    10.953616   1.873198
7    10.050864     9.574286   4.741659
8     9.429773     8.498370   9.877255
9    10.651618    11.232728   5.455610
10    9.777607     9.279062   5.098848
11    6.575773     7.933572  20.648516
12    7.303439     8.115606  11.120328
13    9.113863     8.852442   2.868380
14   10.186099     8.871590  12.904936
15    6.791895     7.808165  14.962970
16   10.235109     9.145887  10.642019
17   11.022344    10.499988   4.739060
18    8.413121     8.577356   1.952137
19    7.459512     8.199158   9.915482

In [153]:
test.describe()

       TrueValues  Predictions   Error(%)
count   20.000000    20.000000  20.000000
mean     9.196411     9.117516   7.147234
std      1.375010     1.020856   5.014192
min      6.575773     7.808165   0.853372
25%      8.308431     8.447915   4.371910
50%      9.419052     8.862016   5.272285
75%     10.198352     9.383384  10.097116
max     11.022344    11.232728  20.648516

In [154]:
mean_absolute_error(y_pred,y_test)

0.6166045374543911

In [155]:
r2_score(y_pred,y_test)

0.4869720256348733

In [156]:
albania = [3.4, 4.62, 4.7, 6.19, 3.16, 1153, 4.719, 0.12, 2880248, 0,0.000000, 0.000000 ,0, 
        0.000000, 0.000000, 0, 0, 0, 0, 0, 0]

In [157]:
def create_prediction(data):
    
    """
    Enter list with 21 columns
    """
    
    data = np.array(data)
    data = np.reshape(data, (1,21))
    data = sc.transform(data)
    
    log_prediction = pls.predict(data)[0][0]
    prediction = np.exp(log_prediction)
    return prediction

In [158]:
prediction = create_prediction(data = albania)
prediction

4255.09704412098

In [159]:
dif = 5260.9 - 4545.853834478702
error=np.absolute(dif/5260.9*100)
error

13.591707987631349